Im folgenden liegt uns eine Bücherliste names bookstore als csv-Datei vor. Diese beinhaltet gebrauchte Bücher mit entsprechend dazu kennzeichnenden Eigenschaften.

Über loc[,] bzw. iloc[,] ist es möglich sich einen gewünschten Teil/Ausschnitt eines DataFrames anzuschauen und einzelne Werte zu entnehmen.

Der folgende Code führt momentan zu mehreren Fehlermeldungen. Berichtige den Code soweit, dass er fehlerfrei läuft und die gewünschte Ausgabe ausgibt.

Aufgabe 1:

Es sollen die Title und Autoren der ersten 3 gelisteten Bücher ausgegeben werden.

Aufgabe 1:

loc[,] benötigt 2 Objekte, die wir übergeben müssen: Die ausgewählten Zeilen und Spalten.

Slicing ist bei der Zeilenangabe für loc[,] kein Problem und führt auch zu dem gewünschten Ergebnis. Wo allerdings ein Problem vorliegt ist bei der Spaltenangabe:

Bei der expliziten Angabe mehrerer columns müssen wir diese in Klammern setzen, da loc[,] in unserem Fall "Author" als dritten Übergabewert interpretiert.

import pandas as pd

df = pd.read_csv("bookstore.csv")

display(df.loc[:2, "Title", "Author"])

# Ausgabe: IndexingError: Too many indexers

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('bookstore.csv')

In [7]:
df.head()

,Title,Author,Publication Year,List Price,Sale Price,Condition
0,The Lord of the Rings,"Tolkien, J.R.R.",1992,7.99,2.69,like new
1,The Bible,International Bible Society,2003,7.50,2.49,like new
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good
3,Perfume: The Story of a Murderer,"Süskind, Patrick",2003,19.95,1.29,very good
4,The Little Prince,"Saint-Exupéry, Antoine de",2006,24.95,2.59,good

In [ ]:
display(df.loc[:2, ['Title', 'Author']]) # für zeile und spalte klammern setzen!!!

                      Title                       Author
0     The Lord of the Rings              Tolkien, J.R.R.
1                 The Bible  International Bible Society
2  The Pillars of the Earth                 Follett, Ken

Aufgabe 2:

Es sollen alle Buchtitel und der Zustand ausgegeben werden.

import pandas as pd

df = pd.read_csv("bookstore.csv")

display(df.iloc[:, ["Title", "Condition"]]) # iloc nummerisch , loc text

# Ausgabe: IndexError: .iloc requires numeric indexers, got ['Title' 'Condition']

Aufgabe 2:

Die Fehlermeldung sagt uns bereits, dass es ein Problem mit iloc[,] und dem Übergabewert ["Title", "Author"] gibt. iloc[,] benutzen wir, wenn wir die Zeilen und Spalten anhand der gezählten Position angeben möchten. Hier haben wir den Fall, dass die entsprechenden columns übergeben werden, weswegen hier loc[,] statt iloc[,] benutzt werden muss.

In [ ]:
display(df.loc[:, ['Title', 'Condition']]) # hier loc verwendet für text

                                        Title  Condition
0                       The Lord of the Rings   like new
1                                   The Bible   like new
2                    The Pillars of the Earth  very good
3            Perfume: The Story of a Murderer  very good
4                           The Little Prince       good
5                                Buddenbrooks  very good
6                               The Physician   like new
7                               The Alchemist   like new
8       Harry Potter and the Sorcerer’s Stone  very good
9                                   Pope Joan   like new
10                                   Inkheart   like new
11                                  Outlander  very good
12                   The House of the Spirits  very good
13                                 The Reader  very good
14                                      Faust  very good
15                     The Shadow of the Wind  very good
16                        Pride and Prejudice   like new
17                       The Name of the Rose  very good
18                            Angels & Demons   like new
19                                Effi Briest  very good
20  Harry Potter and the Order of the Phoenix  very good
21                         The Magic Mountain       good
22                         Gone with the Wind   like new
23                                 Siddhartha       good
24                    The Discovery of Heaven  very good
25                      The Neverending Story  very good
26                            The Hidden Word   like new
27                             Angela’s Ashes  very good
28                     Narcissus and Goldmund   like new
29                        The Mists of Avalon  very good

Alternativ kann man selbstverständlich auch iloc[,] lassen und ["Title", "Condition"] ändern:

In [ ]:
import pandas as pd

df = pd.read_csv("bookstore.csv")

display(df.iloc[:, [0, 5]]) # hier als spaltenindex nummerisch

                                        Title  Condition
0                       The Lord of the Rings   like new
1                                   The Bible   like new
2                    The Pillars of the Earth  very good
3            Perfume: The Story of a Murderer  very good
4                           The Little Prince       good
5                                Buddenbrooks  very good
6                               The Physician   like new
7                               The Alchemist   like new
8       Harry Potter and the Sorcerer’s Stone  very good
9                                   Pope Joan   like new
10                                   Inkheart   like new
11                                  Outlander  very good
12                   The House of the Spirits  very good
13                                 The Reader  very good
14                                      Faust  very good
15                     The Shadow of the Wind  very good
16                        Pride and Prejudice   like new
17                       The Name of the Rose  very good
18                            Angels & Demons   like new
19                                Effi Briest  very good
20  Harry Potter and the Order of the Phoenix  very good
21                         The Magic Mountain       good
22                         Gone with the Wind   like new
23                                 Siddhartha       good
24                    The Discovery of Heaven  very good
25                      The Neverending Story  very good
26                            The Hidden Word   like new
27                             Angela’s Ashes  very good
28                     Narcissus and Goldmund   like new
29                        The Mists of Avalon  very good