Im folgenden liegt uns eine Bücherliste names bookstore als csv-Datei vor. Diese beinhaltet gebrauchte Bücher mit entsprechend dazu kennzeichnenden Eigenschaften.

Zu Beginn einer Analyse schaut man sich gerne einige statistische Kennzahlen an, darunter auch bspw. den Mittelwert. Dieser wird u.a. auch für andere Methoden genutzt, bspw. für die Berechnung der Standardabweichung oder spätere Verteilungen. Deshalb macht es Sinn zu überprüfen, ob pandas den Mittelwert (und andere statistische Kennzahlen) tatsächlich richtig berechnet.

Aufgabe:

Schreibe eine Funktion mean(), der eine Series übergeben wird, also die Spalte eines DataFrames, und den Mittelwert dieser zurückgibt.

Vergleiche im Anschluss die Ausgaben deiner Funktion mit den Ausgaben der mean() Mehtode von pandas, indem du sie mit den drei numerischen Spalten des Bücher-Datensatzes testest.

mean() 
[1, 3, 8] = 3 Werte
median=3
mittelwert = 1+3+8 / 3 Werte = 4

series.mean() zeigt den mittelwert an

In [3]:
import pandas as pd

df = pd.read_csv("bookstore.csv")

df

,Title,Author,Publication Year,List Price,Sale Price,Condition
0,The Lord of the Rings,"Tolkien, J.R.R.",1992,7.99,2.69,like new
1,The Bible,International Bible Society,2003,7.50,2.49,like new
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good
3,Perfume: The Story of a Murderer,"Süskind, Patrick",2003,19.95,1.29,very good
4,The Little Prince,"Saint-Exupéry, Antoine de",2006,24.95,2.59,good
5,Buddenbrooks,"Mann, Thomas",2001,7.99,1.99,very good
6,The Physician,"Gordon, Noah",2003,25.95,1.29,like new
7,The Alchemist,"Coelho, Paulo",1999,7.50,1.29,like new
8,Harry Potter and the Sorcerer’s Stone,"Rowling, J.K.",2006,7.99,2.49,very good
9,Pope Joan,"Cross, Donna W.",2003,24.95,0.99,like new
10,Inkheart,"Funke, Cornelia",2005,9.99,0.99,like new
11,Outlander,"Gabaldon, Diana",1987,6.99,1.29,very good
12,The House of the Spirits,"Allende, Isabel",2003,7.99,1.49,very good
13,The Reader,"Schlink, Bernhard",1996,6.99,1.29,very good
14,Faust,"Goethe, Johann Wolfgang von",2005,7.50,2.49,very good
15,The Shadow of the Wind,"Ruiz Zafón, Carlos",1998,5.99,1.29,very good
16,Pride and Prejudice,"Austen, Jane",2006,6.99,1.29,like new
17,The Name of the Rose,"Eco, Umberto",2001,7.99,1.49,very good
18,Angels & Demons,"Brown, Dan",1998,5.95,1.29,like new
19,Effi Briest,"Fontane, Theodor",2006,19.95,1.29,very good
20,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",1995,7.99,1.99,very good
21,The Magic Mountain,"Mann, Thomas",2004,6.99,1.79,good
22,Gone with the Wind,"Mitchell, Margaret",2006,6.50,1.29,like new
23,Siddhartha,"Hesse, Hermann",2005,7.99,1.99,good
24,The Discovery of Heaven,"Mulisch, Harry",1994,7.99,1.29,very good
25,The Neverending Story,"Ende, Michael",1978,26.95,1.49,very good
26,The Hidden Word,"Hahn, Ulla",2000,6.99,1.29,like new
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29,very good
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good

Du kannst mit Hilfe eine Schleife durch die einzelnen Einträge gehen oder alternativ auch die sum() Methode benutzen.

Im ersten Schritt müssen wir zunächst alle Werte in der Series summieren. Die sum() Mehtode kann dies für uns schnell erledigen, wenn wir allerdings auf eine Schleife zurückgreifen müssen wir etwas mehr schreiben. Hier initialisieren wir zunächst unsere Summe und weisen ihr den Wert 0 zu.

Die Schleife selbst kann einfach über den index der Series durchlaufen werden und mithilfe von diesem wie bei Listen auf die Einträge zugegriffen werden. Im Anschluss muss durch die Anzahl der Zahlen in der Series geteilt werden, welches genau der Zeilenanzahl unserer Series entspricht. D.h. über das shape Attribut kommen wir über series.shape[0] direkt an die Anzahl heran.

Wir stellen im anschließenden Vergleich fest, dass wir in den meisten Fällen dasselbe herausbekommen, in einigen wenigen allerdings minimal abweichen. Diese Abweichungen sind kein Beweis dafür, dass pandas den Mittelwert falsch berechnet, sondern ein Indiz dafür, dass es anders berechnet wird. Solche winzigen Abweichungen passieren häufig Rundungen.

Variante 1: Schleife

In [ ]:
df.loc[:, 'List Price'].head() # die ersten 5 zeilen vom list price

0     7.99
1     7.50
2    19.95
3    19.95
4    24.95
Name: List Price, dtype: float64

In [ ]:
df.loc[:, 'List Price'].shape # anzahl der einträge der rpeise

(30,)

In [ ]:
def mean(series):   
    summend_values = 0 # erst mal die summe des gesamen preises initialisieren
    for price in series:
        summend_values += price # jeder preis wird der summe addiert
    return summend_values/series.shape[0] # die summe wird geteilt durch die anzahl der rpeise, ohne klamer geschrieben [0], kann tupel nicht string dividieren 

for column in ["Publication Year", "List Price", "Sale Price"]:
    print(column)
    print("pandas:   ", df.loc[:, column].mean())
    print("selfmade: ", mean(df.loc[:, column]))
    print("")

Publication Year
pandas:    2000.4
selfmade:  2000.4

List Price
pandas:    11.679333333333334
selfmade:  11.679333333333336

Sale Price
pandas:    1.5933333333333333
selfmade:  1.593333333333333

Variante 2: sum() Method

In [ ]:
import pandas as pd

df = pd.read_csv("bookstore.csv")

# Variante 2: sum() Methode spart die for schleife
def mean(series):
    summend_values = series.sum()
    return summend_values/series.shape[0]

# Überprüfen
for column in ["Publication Year", "List Price", "Sale Price"]:
    print(column)
    print("pandas:   ", df.loc[:, column].mean())
    print("selfmade: ", mean(df.loc[:, column]))
    print("")

Publication Year
pandas:    2000.4
selfmade:  2000.4

List Price
pandas:    11.679333333333334
selfmade:  11.679333333333334

Sale Price
pandas:    1.5933333333333333
selfmade:  1.5933333333333333